
.textview{
  display: inline-block;
	margin: 2px;
	width: 348px;
	height: 50px;
	font-size: 20px;
    font-weight: bold;
    background-color: white;
	/* background:none */
	
	border: none;
}

.equalButton {
    cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 80px;
	height:91px;
    outline: none;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
  
}

.button {
    cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 80px;
	height: 42px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	outline: none;
  
}

.button:active, .allclearButton:active,.equalButton:active{
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }



.button:hover,.equalButton:hover {
	background-color:wheat;
	box-shadow: 0px 0px 2px #0fb69b;
	border-left: 2px solid #106a5e;
}

.allclearButton {
  border-radius: 10px;
	color:white;
	font-weight: bold;
	font-size: 15px;
    margin: 2px;
	width: 80px;
	height: 42px;
	background-color: #D20000;
	border-bottom: 2px solid #800000;
	border-left: 2px solid #800000;
	box-shadow: 0px 0px 2px #030303;
	outline: none;
}

h1{
	color:#07262b;
	font-size: 60px;
    text-justify: newspaper;
    text-align: center;

}
.container{
    
     border: 2px solid rgb(3, 35, 43);
     border-radius: 5px;
	 background: rgba(10, 46, 49, 0.589);
	 background-size: cover;
	 position:absolute;
     top:50%;
     left:50%;
     transform:translateX(-50%) translateY(-50%)
}