*{
    box-sizing: border-box;
  }
  ul{
    margin:  0;
    padding: 0;
  }
  .container{
  
    background-color: rgb(238, 216, 219);
    height: 500px;
    width: 450px;
    text-align: center;
    margin-left: 250px;
  
  }
  body{
    margin: 10px auto;
  
    background-color: rgb(21, 100, 106);
    min-width: 250px;
    max-width: 50%;
  }
  
  ul li{
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
   background-color: burlywood;
   font-size: 18px;
   transition: 0.2s;
   -webkit-user-select: none;
   -moz-user-select: none;
   -moz-user-select: none;
   user-select: none;
  }
  ul li:hover{
    background-color: white;
  }
  ul li:hover {
    background: #ddd;
  }
  ul li.checked {
    background: rgb(21, 77, 112);
    color: white;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
  }
  h6{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 15px;
    word-spacing: 5px;
    letter-spacing: 1px;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: rgb(38, 135, 247);
    color: white;
  }
  .header {
    background-color: rgb(38, 135, 247);
    padding : 30px 40px;
    color : white;
    text-align: center;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  #clear{
    width: 30%;
    font-weight: bold;
    border-radius: 2px;
    font-size: x-large;
    margin: 50px 35%;
    background-color:  rgb(38, 135, 247); ;
    color: white;
  }
  #clear:hover{
    background-color:rgb(9, 9, 53) ;
    color: rgb(170, 157, 157);
  }
  
  .Btn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: rgb(120, 102, 102);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  .Btn:hover {
    background-color: #bbb;
  }
  
  